@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    background: #f4faff;
    color: #3D4756;
}

h1{
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  margin: 80px 0 10px;
}

h2 {
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  margin: 0;
}

h3 {
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;
  margin: 0;
}

p { 
    font-size: 16px;
    margin: 0;
    line-height: 1.5;
}

.navbar {
    background: rgb(27, 161, 191);
    z-index: 9;
    position: fixed;
    width: 100%;
    box-shadow: 0px 1px 1px rgba(27, 161, 191, 0.25);
}

.navbar-nav {
    margin-left: 10px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

.nav-link {
    color: #ffffff;
}

.sidenav {
  height: 100%;
  width: 220px;
  position: fixed;
  z-index: 10;
  top: 0px;
  left: 0;
  background: #fff;
  box-shadow: 1px 0px 1px rgba(27, 161, 191, 0.25);
  overflow-x: hidden;
  padding-top: 15px;
}

.statuscons-container {
  margin: 0 0 20px;
}

.statuscons-container p {
  font-size: 14px;
  font-style: italic;
  text-align: center;
}

.statuscons-container-panel {
  margin: 0 20px;
  padding: 5px;
  background: rgba(27, 161, 191, 0.15);
  text-align: center;
}

.sidenav-cont{
  width: 100%;
  float: right;
  margin-top: 45px;
}

.brand {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  font-weight: bold;
  color:rgba(27, 161, 191);
}

.sidenav a:not(.brand), .dropdown-btn {
  padding: 10px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: #3D4756;
  display: block;
  border: none;
  border-bottom: 1px solid rgba(27, 161, 191, 0.15);
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.dropdown-container a {
  padding-left: 20px;
  font-size: 14px;
  border: none;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 10%;
}
  
.sidenav span{
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
}
.menu i{
  font-size: 1.45em;
  color: white;
}
  
img{
  width: 40px;
  height: auto;
  vertical-align: middle;
  padding-right: 10px;
}
  
.active {
  background-color: rgba(27, 161, 191, 0.25);
  border: none;
}
  
.active::after {
  font-weight: 900;
  display: inline-block;
  padding-right: 15px;
  background-color: rgba(27, 161, 191, 0.25);
}
  
.dropdown-container {
  display: none;
  background-color: rgba(27, 161, 191, 0.25);
  border-bottom: 1px solid rgba(27, 161, 191, 0.15);
}

.encerrarcons {
  text-align: center !important;
  border: none !important;
  margin-top: 10px;
}

.btn-encerrarcons {
  background: #BA3732;
  color: #fff;
  padding: 5px 10px;
  border-radius: 2px;
  margin: auto;
}

.fa-caret-down {
  float: right;
  padding-right: 8px;
}
  
.sidenav a:hover:not(.encerrarcons), .dropdown-btn:hover {
  background-color: rgba(27, 161, 191, 0.25);
  opacity: 1;
}

.sidenav a:focus, .dropdown-btn:focus {
  outline: none;
}

.active:hover{
  background-color: rgba(27, 161, 191, 0.25);
  opacity: 1;
}

.dropdown-container a:hover{
  background-color: rgba(27, 161, 191, 0.25);
  border-radius: 0;
  opacity: 1;
}

.info-data-consulta {
  font-weight: bold;
  font-size: 28px;
  line-height: 28px;
  color: #A1ACBD;
  margin: 10px 0;
}

.card {
  background: #FFFFFF;
  border: none;
  box-sizing: border-box;
  box-shadow: 1px 1px 1px rgba(27, 161, 191, 0.25);
  margin: 20px 0;
}

.card-body {
  padding: 10px 20px;
}

thead {
  background: #fff;
}

tbody {
  background: #fff;
}

.table-striped tbody tr:nth-of-type(odd) {
  background: rgba(27, 161, 191, 0.15);
}

.table td, .table th {
  border-top: 1px solid rgba(27, 161, 191, 0.15);
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 1px solid #f4faff;
}

.form-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 0;
}

.form-redux-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  margin: 20px 0;
}

.form-redux-container p {
  margin-right: 50px;
}

.tag {
  background: rgba(27, 161, 191, 0.15);
  padding: 5px 10px;
  border-radius: 2px;
  font-weight: bold;
}

.btn-container {
  display: flex;
  margin: 30px 0 10px;
}

.btn-float-container {
  display: flex;
  margin: 85px 0 10px;
}

.btn-primary {
  background: rgba(27, 161, 191);
  border: rgba(27, 161, 191);
  font-weight: bold;
  margin-left: 20px;
}

.btn-outline-secondary {
  border: 2px solid rgba(27, 161, 191);
  color: rgba(27, 161, 191);
  font-weight: bold;
}

.select-check {
  display: inline-block;
  margin-right: 20px;
}

.text-pagination {
  text-align: right;
  font-size: 14px;
  font-style: italic;
  margin-bottom: 10px;
}

.pagination-sm .page-link {
  border: none;
  color: rgba(27, 161, 191);
  box-shadow: 1px 1px 1px rgba(27, 161, 191, 0.25);
}