@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    background: #f4faff;
    color: #3D4756;
}

aside {
  position: relative;
  height: 100%;
}

h1{
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  margin: 80px 0 10px;
}

h2 {
  font-weight: bold;
  font-size: 18px !important;
  line-height: 28px;
  margin: 0;
}

h3 {
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;
  margin: 0;
}

p, label { 
    font-size: 16px;
    margin: 0;
    line-height: 1.5;
    font-weight: 400;
}

[type=button], [type=reset], 
[type=submit], button {
  -webkit-appearance: none;
}

.btn-link {
  color: #1ba1bf;
}

.wrapper {
  display: flex;
  width: 100%;
}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  width: 100%;
}

#sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 9;
  background: #fff;
  transition: all 0.3s;
  box-shadow: 1px 0px 1px rgba(27, 161, 191, 0.25);
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar ul.components {
  padding: 60px 0 20px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  border-bottom: 1px solid rgba(27, 161, 191, 0.15);
  display: block;
  color: #3D4756;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
}

#sidebar ul li a:hover {
  background-color: rgba(27, 161, 191, 0.15);
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
  background: rgba(27, 161, 191, 0.5);
  color: #fff;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background:rgba(27, 161, 191, 0.15);
}

#sidebarCollapse {
  position: absolute;
  left: 250px;
  top: 60px;
  background: #fff;
  border: none;
  color: rgb(27, 161, 191);
  box-shadow: 0px 1px 1px rgba(27, 161, 191, 0.25);
  padding: 9px 15px;
  border-radius: 0;
}
.statuscons-container {
  margin: 20px 0;
}

.statuscons-container p {
  font-size: 14px;
  font-style: italic;
  text-align: center;
}

.statuscons-container-panel {
  margin: 0 20px;
  padding: 5px;
  background: rgba(27, 161, 191, 0.15);
  text-align: center;
}
/* ---------------------------------------------------
  CONTENT STYLE
----------------------------------------------------- */

#content {
  width: calc(100% - 250px);
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
  padding: 40px;
}

#content-not-sidebar {
  padding: 40px 0;
}

#content.active {
  width: 100%;
}

/* ---------------------------------------------------
  CONFIRMACAO PACIENTE
----------------------------------------------------- */
.infos-confirmacao a {
  font-size: 15px;
}

.infos-confirmacao p {
  line-height: 2;
}

.img-confirmacao {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.btn-container-confirmacao {
  margin: 20px 0;
}

.btn-container-confirmacao .btn {
  margin-left: 0;
  margin-right: 20px;
}

.btn-container-termo {
  margin: 20px auto;
  pointer-events: auto;
}

.btn-container-termo .btn {
  margin: 5px 0;
  width: 100%;
}

.btn-container-termo .btn a{
  color: #fff;
}

.btn-container-termo .btn a:hover{
  text-decoration: none;
}
/* ---------------------------------------------------
  MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 1199px) {
  #content {
    padding: 40px 20px;
  }

  .btn-container-confirmacao .btn {
    margin-left: 0;
    margin-right: 5px;
  }  
}

@media (max-width: 1023px) {
  #content.active {
    width: calc(100% - 0);
  }
  .img-confirmacao {
    position: absolute;
    top: 20%;
    transform: translateY(0%);
  }
}

@media (max-width: 768px) {
  #content {
    padding: 40px 0px;
  }

  #sidebar {
      margin-left: -250px;
  }
  #sidebar.active {
      margin-left: 0;
  }
  #content {
      width: 100%;
  }

  #sidebarCollapse span {
      display: none;
  }
}


.navbar {
    background: rgb(27, 161, 191);
    z-index: 99;
    box-shadow: 0px 1px 1px rgba(27, 161, 191, 0.25);
}

.navbar-brand {
  padding-top: 10px;
}

.navbar-brand img {
  width: 160px;
}

.navbar-nav {
    margin-left: 10px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}
li.nav-item:hover {
  background:rgba(255, 255, 255, 0.9);
  border-radius: 6px;
}

.nav-link {
  color: #ffffff;
}

.nav-link:hover {
  color: rgba(27, 161, 191);
}


.encerrarcons {
  text-align: center !important;
  border: none !important;
  margin-top: 10px;
}

.btn-encerrarcons {
  background: #BA3732;
  color: #fff;
  padding: 5px 10px;
  border-radius: 2px;
  margin: auto;
}

.info-data-consulta {
  font-weight: bold;
  font-size: 28px;
  line-height: 28px;
  color: #A1ACBD;
  margin: 10px 0;
}

.card {
  background: #FFFFFF;
  border: none;
  box-sizing: border-box;
  box-shadow: 1px 1px 1px rgba(27, 161, 191, 0.25);
  margin: 20px 0;
}

.card-body {
  padding: 10px 20px;
}

thead {
  background: #fff;
}

tbody {
  background: #fff;
}

.table-striped tbody tr:nth-of-type(odd) {
  background: rgba(27, 161, 191, 0.15);
}

.table td, .table th {
  word-wrap: break-word;
  white-space: nowrap;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 1px solid #f4faff;
}

.form-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 0;
}

.form-redux-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  margin: 20px 0;
}

.form-redux-container p {
  margin-right: 50px;
}

.tag {
  background: rgba(27, 161, 191, 0.15);
  padding: 5px 10px;
  border-radius: 2px;
  font-weight: bold;
}

.btn-container {
  display: flex;
  margin: 30px 0 10px;
}

.btn-float-container {
  display: flex;
  margin: 85px 0 10px;
}

.btn-primary {
  background: rgba(27, 161, 191);
  border: rgba(27, 161, 191);
  font-weight: bold;
  margin-left: 20px;
}

.btn-modal-action {
  margin-top: 10px;
}

.btn-outline-secondary {
  border: 2px solid rgba(27, 161, 191);
  color: rgba(27, 161, 191);
  font-weight: bold;
}

.btn-outline-secondary:hover,
.btn-outline-secondary:active,
.btn-outline-secondary:focus {
  border: 2px solid rgba(27, 161, 191);
  background: rgba(27, 161, 191);
  color: #fff;
  box-shadow: 1px 1px 1px rgba(27, 161, 191, 0.25) !important;
}

.btn-outline-secondary:not(:disabled):not(.disabled).active, 
.btn-outline-secondary:not(:disabled):not(.disabled):active, 
.show>.btn-outline-secondary.dropdown-toggle {
  border: 2px solid rgba(27, 161, 191);
  background: rgba(27, 161, 191);
  color: #fff;
}

.select-check {
  display: inline-block;
  margin-right: 20px;
}

.text-pagination {
  text-align: right;
  font-size: 14px;
  font-style: italic;
  margin-bottom: 10px;
}

.pagination-sm .page-link {
  border: none;
  color: rgba(27, 161, 191);
  box-shadow: 1px 1px 1px rgba(27, 161, 191, 0.25);
}

/* ---------------------------------------------------
    MODAIS
----------------------------------------------------- */

.modal-content {
  background-color: #fff;
  border: none;
  border-radius: 0;
  box-shadow: 1px 1px 1px rgba(27, 161, 191, 0.5);
}

.modal-header {
  border: none;
}

.modal-title {
  font-weight: bold;
  font-size: 18px;
}

.modal-body {
  padding: 0 1rem 1rem;
}

.modal-container-card {
  display: flex;
  flex-flow: row;
  margin-left: -5px;
  margin-top: 10px;
  flex-wrap: wrap;
}

.card-header {
  background: rgb(27, 161, 191);
}

.card-header .btn-link.collapsed,
.card-header .btn-link,
.card-header .btn-link.focus {
  width: 100%;
  color: #fff;
  font-weight: 900;
}

.modal-container-card .card {
  flex-basis: 32%;
  flex-grow: 1;
  margin: 10px 5px 0;
  border: 1px solid rgba(27, 161, 191, 0.1);
  box-shadow: 0px 1px 1px rgba(27, 161, 191, 0.25);
  transition: all 0.3s;
}

.modal-container-card .card:hover,
.modal-container-card .card:focus, 
.modal-container-card .card:focus {
  cursor: pointer;
  color: #fff;
  background: rgba(27, 161, 191);
}

.modal-container-card .card .card-body {
  padding: 10px 5px;
}

.modal-container-card .card .card-body p{
  font-size: 14px;
}

.modal .form-container {
  margin: 0;
}

/* ---------------------------------------------------
      FILE UPLOAD
----------------------------------------------------- */
.cardresgistro {
  margin: 0;
  -webkit-box-shadow: none;
}

.cardresgistro button{
  text-align: left;
}

.card-body.cardbodyresgistro {
  -moz-box-shadow: none;
  box-shadow: none;
  border: 1px solid rgba(27, 161, 191, 0.25);
  border-top: none;
  border-bottom: none;
}
.card-body:last-child {
  border-bottom: 1px solid rgba(27, 161, 191, 0.25);
}

.dados-identificacao {
  border-bottom: 1px solid rgba(27, 161, 191, 0.25);
  margin-bottom: 20px;
}
.dados-identificacao label, .dados-contatos label {
  margin-bottom: 10px;
}

/* ---------------------------------------------------
      CALENDAR
----------------------------------------------------- */
#calendar {
  margin: 50px 0 0;
}

.fc-view-harness {
  box-shadow: 0px 1px 1px rgba(27, 161, 191, 0.25);
}

button.fc-prev-button {
  margin-left: 0;
}

.fc .fc-daygrid-day.fc-day-today {
  background: rgba(27, 161, 191, 0.15);
}

.fc .fc-scrollgrid-section, .fc .fc-scrollgrid-section>td {
  border: none !important;
}

.btn-confirmar-consulta {
  margin-right: 5px;
}

#mini-calendar {
  padding-top: 75px;
  padding: 75px 10px 0;
}

.side-agenda-select {
  padding: 0px 10px;
  margin: 10px 0;
}

.side-agenda-select .side-titulo-select {
  margin: 5px 0 0;
}

.side-agenda-select .form-check {
  margin: 5px 0 0;
}
/* ---------------------------------------------------
      RESPONSIVO
----------------------------------------------------- */
@media(max-width: 1199px) {
  .atalho-consultas-container {
    display: flex;
    flex-flow: row;
  }

  .atalho-consultas-container .card{
    flex-basis: 50%;
    flex-grow: 1;
    margin: 10px;
  }
}

@media (max-width: 1023px) {
  .form-container, .form-redux-container {
    flex-direction: column;
    justify-content: flex-start;
    margin: 10px 0;
  }

  .form-container p, .form-redux-container p {
    line-height: 18px;
    margin: 10px 0;
  }

  .tag {
    position: absolute;
    right: 20px;
    top: 50px;
  }

  a.navbar-brand {
    width: 90%;
    display: flex;
    justify-content: flex-start;
    margin-right: 10px;
    padding: 15px 0 0;
  }

  .navbar-toggler {
    color: #fff;
    box-shadow: 0px 1px 1px rgba(27, 161, 191, 0.25);
    border-radius: 6px;
  }

  .navbar-toggle:focus {
    outline: 5px auto #ffff;
    color: #ffff;
  }

  .navbar-toggler:focus, .navbar-toggler:hover {
    text-decoration: none;
    outline: 5px auto #ffff;
    color: #ffff;
  }

  li.nav-item:hover {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 6px;
    padding: 5px 10px;
  }
  
  .navbar {
    justify-content: flex-start;
  }

  .modal-container-card .card {
    flex-basis: 47%;
  }
}

@media (max-width: 767px) {
  h1 {
    margin-top: 130px;
  }

  .atalho-consultas-container {
    display: flex;
    flex-flow: column;
  }

  .atalho-consultas-container .card{
    margin: 10px 0px;
  }

  a.navbar-brand {
    width: 80%;
    margin-right: 20px;
    padding: 10px 0 0;
  }

  .btn-float-container.justify-content-end {
    position: absolute;
    right: 15px;
    top: -130px;
    margin: 0;
  }

  .modal-container-card .card {
    flex-basis: 100%;
  }

  .modal-container-card {
    margin-left: 0px;
  }

  .fc .fc-toolbar {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: column;
  }

  .fc-toolbar-chunk {
    margin: 5px 0;
  }

  button.fc-timeGridDay-button {
    margin: 0;
  }

  .btn-novo-paciente {
    margin-top: 0;
  }

  .btn-container-confirmacao .btn {
    margin: 10px 0;
    width: 100%;
  }

  .img-confirmacao {
    position: relative;
    margin-top: 50px;
  }

  .infos-confirmacao h1 {
    margin-top: 80px !important;
  }
}